/* CSS Reset Start */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset End */

@font-face {
    font-family: "boomer";
    src: url(./static/fonts/boomer_tantrum/Boomer\ Tantrum.otf) format("opentype");
}

.jefferson-blue {
    background-color: #232D4B;
}

.virginia-orange {
    color: #ff9100;
}

.center-col {
    margin-left: 9%;
    margin-right: 9%;
}

h1 {
    font-family: boomer;
}

.gradient {

    /* can be treated like a fallback */
    background-color: #232D4B;
  
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(rgba(35,45,75,1) 0%, rgba(47,57,85,1) 29%, rgba(117,122,138,1) 69%);
  
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #232D4B;
    background: linear-gradient(rgba(35,45,75,1) 0%, rgba(47,57,85,1) 29%, rgba(117,122,138,1) 69%);
  
  }

.pad-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.margin-vertical {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    min-height: 100vh;
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .panel-right {
        background-color: #232D4B;
        width: 8.3%;
    }
    .panel-left {
        background-color: #232D4B;
        width: 8.3;
    }
    .panel-center {
        width: 83.4%;
    }
} */