@font-face {
    font-family: "boomer";
    src: url(./static/boomer_tantrum/Boomer\ Tantrum.otf) format("opentype");
}

.jefferson-blue {
    background-color: #232D4B;
}

.virginia-orange {
    color: #ff9100;
}

h1 {
    font-family: boomer;
}

.gradient {

    /* can be treated like a fallback */
    background-color: #232D4B;
  
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(rgba(35,45,75,1) 0%, rgba(47,57,85,1) 29%, rgba(117,122,138,1) 69%);
  
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: #232D4B;
    background: linear-gradient(rgba(35,45,75,1) 0%, rgba(47,57,85,1) 29%, rgba(117,122,138,1) 69%);
  
  }

.pad-vertical {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.margin-vertical {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

body {
    min-height: 100vh;
}

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
    .panel-right {
        background-color: #232D4B;
        width: 8.3%;
    }
    .panel-left {
        background-color: #232D4B;
        width: 8.3;
    }
    .panel-center {
        width: 83.4%;
    }
} */